* {
  box-sizing: border-box;
}

#app {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
}
.flight-card {
  list-style: none;

  border: 1px solid black;
  padding: 10px;
  margin-bottom: 15px;
}
